<script>
  var file_metadata = {{ files_js | safe }};
  var access_token = "{{ oh_member.access_token }}";
  var member_id = {{ oh_member.oh_id }};
</script>
{% load static %}
{% load utilities %}
{% csrf_token %}
<div id='upload_form'>
  <form method="get" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <h3>Upload your data </h3>
      <table class="table">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Tags</th>
            <th></th>
          </tr>
        <tbody>
        {% for file in files %}
          <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.description }}</td>
            <td>{{ file.tags }}</td>
            <td>
                <input type="file" name="{% concatenate "file" file.id %}"
                       id="{% concatenate "file" file.id %}">
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <input type="button" class="btn btn-primary" value="Upload your data" onClick="startUpload()">
  </form>
  <p id="infotext">
    <small>
      The Javascript uploader has failed for some users in the past. You could try another browser
      or <a href="{% url 'upload_old' %}">use the simpler upload form</a> if you prefer that.
    </small>
  </p>
</div>
<script src="{% static 'upload.js' %}"></script>