{% extends 'main/application.html' %}

{% block content %}
{% load utilities %}

<form action="{% url 'project-admin:config-file-settings' %}" method="post">
  {% csrf_token %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 32%;">Name</th>
        <th style="width: 32%;">Description</th>
        <th style="width: 32%;">Tags</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        <tr>
          <td>
            <input class="form-control" name="{% concatenate "file" file.id "name" %}" size=60 type="text" value="{{file.name}}" placeholder="A representative name of this file" required>
          </td>
          <td>
              <input class="form-control" name="{% concatenate "file" file.id "description" %}" size=60 type="text" value="{{file.description}}" placeholder="A description of this file" required>
          </td>
          <td>
            <input class="form-control" name="{% concatenate "file" file.id "tags" %}" type="text" size=60 value="{{file.tags}}" placeholder="comma, separated, list, of, tags" required>
          </td>
          <td>
            <a href="{% url 'project-admin:delete-file' file.id %}" class="btn btn-secondary btn-sm text-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="row text-center">
    <a href="{% url 'project-admin:add-file' %}" class="btn btn-success">Add File</a>
    <input type="submit" class="btn btn-primary align-right" value="Save updates">
  </div>
</form>

{% endblock %}
