{% extends 'main/application.html' %}

{% block content %}

{% if messages %}

    {% for message in messages %}
    <div class="alert alert-info" role="alert">
    {{ message }}
    </div>
    {% endfor %}

{% endif %}
{% if error %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{ error }}
</div>
{% endif %}

<form action="{% url 'project-admin:login' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
  Admin password: <input type="password" class="form-control" name="password">
  </div>
  <input type="submit" value="Log in" class="btn btn-default">
</form>

{% endblock %}
