{% extends 'main/application.html' %}

{% block content %}

      <h1>One last step: Uploading your data to {{config.project_title}}</h1>
      <p class="lead">
        Thank you! We got your authorization to connect to <i>Open Humans</i>.
      </p>
      <div class="row">
        <div class="col-md-6">
          {% load utilities %}
          {{upload_description|markdown}}
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              {% include 'main/partials/upload_form.html' %}
            </div>
          </div>
          <p>
            You can also visit <a href="{{ oh_proj_page }}">this project's page on Open Humans </a>
            to see any data you've previously uploaded.
          </p>
        </div>
      </div>

{% endblock %}
